.button {
	background-color: $background-elevated-2;
	border-radius: $border-radius-1;

	width: 100%;

	@include flex-center;
	@include padding-x($spacing-4);
	@include padding-y($spacing-2);

	color: $text-secondary;

	@include button;

	svg {
		@include size(1rem);
	}
}

// Варианты
.button {
	&:global(.small) {
		font-size: small;
	}
}
