@import 'open-color.scss';

$text-primary: $oc-gray-9;
$text-secondary: $oc-gray-7;

$border: $oc-gray-4;

$background: $oc-gray-1;
$background-elevated-1: $oc-white;
$background-elevated-2: $oc-gray-1;

$red: $oc-red-6;
$green: $oc-green-5;
$blue: $oc-blue-5;