---
import App from "@/App"
import Header from "@/components/Header.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div id="root">
			<Header />
			<App client:load />
		</div>
		<div id="drag-overlay"></div>
		<div id="dialog-root"></div>
	</body>
</html>

<style lang="scss" is:global>
	@import "../styles/global.scss";
</style>

<script>
	function calculateScrollbarWidth() {
		document.documentElement.style.setProperty("--scrollbar-width", window.innerWidth - document.documentElement.clientWidth + "px")
	}

	window.addEventListener("resize", calculateScrollbarWidth)
	window.addEventListener("scrollend", calculateScrollbarWidth)
	window.addEventListener("load", calculateScrollbarWidth)
	window.addEventListener("DOMContentLoaded", calculateScrollbarWidth)
</script>

<style lang="scss" is:global>
	#root {
		display: flex;
		flex-direction: column;
		min-height: 100dvh;
	}
</style>
