.todoGroupList {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	box-sizing: border-box;

	// gap: $spacing-2;
	//

	// min-height: 100dvh;
	flex: 1;
	width: 100%;

	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	scrollbar-width: thin;

	> div {
		min-width: calc(100vw - var(--scrollbar-width));
		scroll-snap-align: center;

		padding: $spacing-1;
		box-sizing: border-box;
	}

	@media (min-width: $breakpoint) {
		grid-template-columns: repeat(3, minmax(0, 1fr));

		> div {
			min-width: auto;
		}
	}
}
