.dropdownMenu {
	position: relative;
}

.menu {
	min-width: 150px;

	position: absolute;
	right: 0;
	top: calc(100%);

	z-index: 100;

	background-color: $background-elevated-1;
	@include border;
	padding: $spacing-2;

	@include flex-stack(column, $spacing-1);
}

.action {
	background-color: white;
	border-radius: $border-radius-1;

	font-size: small;

	@include flex-center;
	justify-content: space-between;

	@include padding-x($spacing-3);
	@include padding-y($spacing-2);

	@include button;
}
